<launch>
  <arg name="model" default="uvicbot" />
	<arg name="gui" default="True" />
	<param name="robot_description" textfile="$(find uvicbot_description)/urdf/$(arg model).urdf" />
	<param name="use_gui" value="$(arg gui)"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find uvicbot_description)/uvicbot.rviz" required="true" />
</launch>
